<html>
    <head>
        <title>Thank You!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <style>
            #content {
                margin:10px;
            }
            #content > p {
                font-size:18px;
            }
            #submitButton {
                margin-top: 10px;
                font-size: 16px;
            }
             #homeButton{
                font-size:20px;
                color:#009933;
                margin-left:47%;
             }
        </style>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" charset="utf-8">
        	var BASE_URL = 'http://' + document.domain + ':' + location.port;
        	function visualize() {
        		window.location.href = BASE_URL +'/visualize?uid={{uid}}';
        	}

        </script>
    </head>
    <body>
    <div id="content">
        <h2>Find One In Common!</h2>
        <h4 style="font-size: 20px;">{{ finished_message}}</h4>

	<div id="mturk">

    <form name='mturk_form' method='post' id='mturk_form' action="{{turk_submit_to}}/mturk/externalSubmit"><input type='hidden' value='' name='assignmentId' id='assignmentId'/>
    <div>
    <input type='hidden' name='chat_id' value='{{chat_id}}' />
    </div>
    {% if completed %}
    <p style="font-size: 18px;">
        {{completed_message}}
    </p>
    <p><input type='submit' id='submitButton' value='Submit HIT!' /></p></form>
    <script language='Javascript'>turkSetAssignmentID();</script>
    {% endif %}

    {% if not completed %}
    <br clear="left">
    <br>
    <br>
    <a id="homeButton" onclick="window.location.href='{{home_url | safe}}';" class="progress_buttons"><i class="fa fa-home"></i> Return Home</a>
    {% endif %}
    {% if trophy_img %}
    <div style="float:left; margin: 0px 20px 0px 10px;">
        <img height="240" width="240" src="{{ url_for('static', filename='img/')}}{{trophy_img}}"/>
    </div>
    {% endif %}
    <!--
    <br clear="left">
    <br>
    <br>
    <a id="homeButton" onclick="window.location.href='{{home_url | safe}}';" class="progress_buttons"><i class="fa fa-home"></i> Return Home</a>
    -->
<!--
		{% if mturk_code is not none %}
		<hr>

		<h3>Thanks for completing this HIT! Please copy and paste this code into the HIT on Mechanical Turk: {{ mturk_code }}</h3>
		{% endif %}
		<hr>
		{% if visualize %}
		<h4><a href="javascript:visualize();">Click here</a> to visualize the dialogue you just completed</h4>
		{% endif %}
	</div>
-->

    </div>
    </body>
</html>