<ul>
    <li>Look at <b>your view on the right</b>.</li>
    <ul>
        <li> Play the view forward (<span class="svg-button glyphicon glyphicon-step-forward disabled" ></span>, <span class="svg-button glyphicon glyphicon-fast-forward disabled" ></span>) or backward (<span class="svg-button glyphicon glyphicon-chevron-left disabled" ></span>) to see how it changed. </li>
    </ul>
    <li>Use the <b>chat box below</b> to discuss with your partner. </li>
    <ul>
        <li> Use <b style="color:#009933">natural language</b> as much as possible! </li>
        <li> <span style="color:#009933">Describe the positions and movements of the dots in relation to each other.</span> </li>
        <li> <span style="color:#009933">Ask many questions</span> to verify you're talking about the same dot. </li>
        <li> Do not rely solely on <span style="color:#FF0000">color, size and absolute positions</span>. </li>
        <li> Do not rely on <span style="color:#FF0000">complicated numbers, metrics and symbols</span>. </li>
        <li> Do not talk about <span style="color:#FF0000">anything irrelevant to this task</span>. </li>
    </ul>
    <li>At the <b>end of each turn</b>, click one dot in your view that you found in common. </li>
    <ul>
        <li> Make it very sure you found the same dot before you select! </li>
    </ul>
    <li>If you find any problem with the task or your partner, <span style="color:#FF0000"> please return and do not submit that HIT</span>.</li>
</ul>
</ul>